<ul *ngFor="let passenger of passengers">
  <span
    class="status"
    [ngClass]="{
      'checked-in': passenger.checkedIn,
      'checked-out': !passenger.checkedIn
    }"
  >
  </span>
  <input
    type="test"
    [value]="passenger.fullName"
    *ngIf="editing"
    (input)="handleFullNameEdit($event)"
  />
  <span *ngIf="!editing">{{ passenger.fullName }}</span>
  <div class="checkin-date">
    check in date:
    {{
      passenger.checkInDate
        ? (passenger.checkInDate | date: "y MMMM d" | uppercase)
        : "not checked in"
    }}
  </div>
  <div class="childer">Childern: {{ passenger.children?.length || 0 }}</div>
  <div class="action">
    <button (click)="toggleEdit()">{{ editing ? "done" : "edit" }}</button>
    <button (click)="handleRemove(passenger.id)">Remove</button>
  </div>
</ul>
